.image-abbey-hsu{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-wnit{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-iman-blow{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-farkas{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.image-reyes{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
.image-sultana{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-meili{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-weintraub{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-tanner{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-ikwuazom{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-wrestling{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}
.image-consortium{
    img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:3vh;
        width:90vw;
    }
}
.image-arch-undef{
    img{
        max-height:60vh;
        max-width: 60vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:4vh;
    }
}

.image-griffith{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top:-2vh;
    }
}
.image-bilodeau{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
.image-gena-miller{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
.image-golf-2007{
    img{
        max-width:60vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:2vh;
    }
}
.image-brubaker{
    img{
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:2vh;
    }
}
.image-borgman{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:2vh;
    }
}
.image-wsoc-undefeated{
    img{
        max-height:80vh;
        max-width:80vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:2vh;
    }
}


